
Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
*.cache
*.props
*.targets
/.vs/
/Service/bin
/Service/obj
/Domain/obj
/Domain/bin
Service.Test/bin/
Service.Test/obj/
WebApi.Test/bin/
WebApi.Test/obj/
WebApi/bin/
WebApi/obj/
/.idea/
/Domain.Test/obj
/Domain.Test/bin/
/packages/
